# Node modules
node_modules/

# Logs
logs/
*.log

# Environment variables
.env

# Dependency directories
package-lock.json
yarn.lock

# Build output
dist/
build/

# OS specific files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
npm-debug.log*
yarn-error.log*
pids/
*.pid
*.seed
*.pid.lock

# Coverage reports
coverage/
*.lcov

# Temporary files
tmp/
temp/
*.tmp
*.swp
*.swo
